.search-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
}

.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px
}

.search-bar input {
    flex: 1;
    padding: 0.7rem 1rem;
    font-size: 16px;
    border-radius: 14px;
    border: 1px solid var(--glacier);
    outline: none;
    font-family: inherit;
}

.search-bar input:focus {
    border-color: var(--chambray);
    box-shadow: 0 0 0 2px rgba(121, 163, 195, 0.2);
}

.results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200, 1fr));
    gap: 1.5rem;
}

